{
    admin off
    auto_https off
}

:3000 {
    # GME: /gme/* -> gme:8000
    handle_path /gme/* {
        reverse_proxy gme:8000
    }

    # WAHA: всё остальное -> waha:3000
    handle {
        reverse_proxy waha:3000
    }
}
