name: ms-proxy

services:
  proxy:
    image: caddy:2-alpine
    container_name: ms-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - msnetwork

volumes:
  caddy_data:
  caddy_config:

networks:
  msnetwork:
    external: true
